$work-bg:#ffd175;	
$red:#dc3545;
$btn-bg-orange:#ffb319;
$orange-text:#ffb319;
$text-color:#153b51;
$text-center:center;
$white-color:#fff;
$blue-bg:#153b51;
$black:#000;
$light-grey:#ebf1f5;
$orange-bg:#ffb319;
